[submodule "backend/libs/uWebSockets"]
	path = backend/libs/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "backend/libs/json"]
	path = backend/libs/json
	url = https://github.com/nlohmann/json.git
[submodule "backend/libs/argon2"]
	path = backend/libs/argon2
	url = https://github.com/P-H-C/phc-winner-argon2.git
[submodule "backend/libs/cpp-httplib"]
	path = backend/libs/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "backend/libs/spdlog"]
	path = backend/libs/spdlog
	url = https://github.com/gabime/spdlog.git
